@import "tailwindcss";

@font-face {
    font-family: 'BwGradual';
    src: url('./assets/fonts/BwGradualDEMO-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'BwGradual', sans-serif;
}